<!-- CONTENT-->
<div class="content">
  <p class="mb-1">Hi, <%= firstName %></p>
  <p class="mb-1">
    歡迎使用Search Art Fair, 感謝您撥冗體驗Side Project, 請點下方更改密碼!
  </p>
  <p>點擊下方連結進行修改密碼，有效時間為10分鐘</p>
  <a class="btn" href="<%= url %>" target="_blank">更改密碼</a>
  <p>
    如果您對這個專案中有任何建議，歡迎來信通知我或您對我有工作上的邀約也歡迎與我聯絡
  </p>
  <a class="btn" target="_blank" href="mailto:s339428326@gmail"
    >s339428326@gmail.com</a
  >
</div>
