<!-- CONTENT-->
<p>Hi, <%= firstName %>,</p>
<p>歡迎使用 Natours, 很感謝您撥冗體驗Side Project 🎉🙏</p>
<p>
  如果您對這個專案中有任何建議，歡迎來信通知我或您對我有工作上的邀約也歡迎與我聯絡
</p>
<p>點擊下方連結進行修改密碼，有效時間為10分鐘</p>
<table
  class="btn btn-primary"
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
>
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><a href="<%= url %>" target="_blank">change Password!</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>此為作品集請勿商業使用</p>
<a href="mailto:s339428326@gmail.com">我的信箱</a>
