<!-- CONTENT-->
<div class="content">
  <p class="mb-1">你好！</p>
  <p class="mb-1">
    經過專員與貴公司聯繫後已通過帳戶審核, 第一次密碼登入後請盡快修改密碼,
    已保證密碼安全, 期待您透過夥伴頁面開啟您與我們得合作
  </p>
  <p>密碼:<%= firstPassword %></p>
  <a class="btn" href="<%= url %>" target="_blank">點擊去夥伴登入頁面</a>
  <p class="">若有工作及面試邀約請聯絡</p>
  <a class="btn" target="_blank" href="mailto:s339428326@gmail"
    >s339428326@gmail.com</a
  >
</div>
