<!-- CONTENT-->
<div class="content">
  <!--  -->
  <div class="mb-1"><%- content %></div>
  <a class="btn" href="<%= url %>" target="_blank">點擊回到首頁</a>
  <p class="">若有工作及面試邀約請聯絡</p>
  <a class="btn" target="_blank" href="mailto:s339428326@gmail"
    >s339428326@gmail.com</a
  >
</div>
